@model ColorScheme.Models.UserM

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container download" id="downloads">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">

            <img alt="AltText" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiTzEdknff0c5szyfzQh7phohYDdQNI2-ujHUlxHT6_rwm2P0C" class="img-responsive">

        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">

            <img alt="AltText" src="https://c1.staticflickr.com/4/3122/2851102655_22c10847c7_b.jpg" class="img-responsive">

        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLkDIaIQFdtKW3-J7m3pimcN3nV_IKNQDIqnspGlcK0c696L61" alt="AltText" class="img-responsive">

        </div>
    </div>
</div>

