@model ColorScheme.Models.UserM

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            @*curtains*@
            <img class="d-block w-50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiTzEdknff0c5szyfzQh7phohYDdQNI2-ujHUlxHT6_rwm2P0C"
                 alt="Second slide">
        </div>
        <div class="item">
            @*couple shoes*@
            <img class="d-block w-100" src="https://images.pexels.com/photos/1797836/pexels-photo-1797836.jpeg?cs=srgb&dl=couple-fashion-shoes-1797836.jpg&fm=jpg"
                 alt="Third slide">
        </div>
        <div class="item">
            @*paint swatches*@
            <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLkDIaIQFdtKW3-J7m3pimcN3nV_IKNQDIqnspGlcK0c696L61"
                 alt="Third slide">
        </div>
        <div class="item">
            @*living room*@
            <img class="d-block w-100" src="https://c1.staticflickr.com/4/3122/2851102655_22c10847c7_b.jpg"
                 alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
