@model ColorScheme.Models.UserM

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container download" id="downloads">
    <div class="row">
        <div class="col-md-4 col-xs-12">

            <img height="500" width="500" AltText" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiTzEdknff0c5szyfzQh7phohYDdQNI2-ujHUlxHT6_rwm2P0C" class="img-responsive">

        </div>

        <div class="col-md-4 col-xs-12">

            <img height="500" width="500" alt="AltText" src="https://c1.staticflickr.com/4/3122/2851102655_22c10847c7_b.jpg" class="img-responsive">

        </div>

        <div class="col-md-4 col-xs-12">

            <img height="500" width="500" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLkDIaIQFdtKW3-J7m3pimcN3nV_IKNQDIqnspGlcK0c696L61" alt="AltText" class="img-responsive">

        </div>
    </div>
    <br />
    <p>Welcome to Color Cord!  Utilize our color coordination app to select the perfect color matches for all your needs.  Whether it's fashion, interior design, or art projects, you'll find what you're looking for</p>
</div>

