@model ColorScheme.Models.UserM

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1487083990731-52aaad54939a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Los Angeles" width="550" height="250">
            <div class="carousel-caption">
                <p>Color Cord</p>
                <h4>Find the perfect color palette!</h4>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1513519245088-0e12902e5a38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Chicago" width="550" height="250">
            <div class="carousel-caption">
                <p>Color Cord</p>
                <h4>Find the perfect color palette!</h4>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1511980725567-b9b7f0358905?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1297&q=80" alt="New York" width="550" height="250">
            <div class="carousel-caption">
                <p>Color Cord</p>
                <h4>Find the perfect color palette!</h4>
            </div>
        </div>
        <div class="carousel-item">
            <img src="        https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="New York" width="550" height="250">
            <div class="carousel-caption">
                <p>Color Cord</p>
                <h4>Find the perfect color palette!</h4>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>



