@model ColorScheme.Models.UserM

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1487083990731-52aaad54939a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Los Angeles" width="550" height="250">
            <div class="carousel-caption">
                <h3>Color Cord</h3>
                <p>Find your match</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1513519245088-0e12902e5a38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Chicago" width="550" height="250">
            <div class="carousel-caption">
                <h3>Color Cord</h3>
                <p>Find your match</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1511980725567-b9b7f0358905?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1297&q=80" alt="New York" width="550" height="250">
            <div class="carousel-caption">
                <h3>Color Cord</h3>
                <p>Find your match</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="        https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="New York" width="550" height="250">
            <div class="carousel-caption">
                <h3>Color Cord</h3>
                <p>Find your match</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
@*<div class="container download" id="downloads">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">

                <img alt="AltText" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiTzEdknff0c5szyfzQh7phohYDdQNI2-ujHUlxHT6_rwm2P0C" class="img-responsive">

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <img alt="AltText" src="https://c1.staticflickr.com/4/3122/2851102655_22c10847c7_b.jpg" class="img-responsive">


            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">


                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLkDIaIQFdtKW3-J7m3pimcN3nV_IKNQDIqnspGlcK0c696L61" alt="AltText" class="img-responsive">

            </div>
        </div>

    </div>*@


