@model ColorScheme.Models.UserM

@{
    ViewData["Title"] = "My Colors";
    Layout = "_Layout3";

}

<h4>Are you sure you want to delete this user?</h4>
<div class="col-md-3"></div>
<div class="col-md-6">
        <hr />
        <dl class="row">
            <dt class="col-md-12">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-md-12">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-sm btn-warning" /> |
            <a asp-action="Index" class="backlink">Back to Users</a>
        </form>
    </div>
 <div class="col-md-3"></div>
