@model ColorScheme.Models.UserM

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        if (Model.colorSchemes != null)
        {
        @foreach (var item in Model.colorSchemes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
        }

    </tbody>
</table>