@model ICollection<ColorScheme.Models.ColorSchemeM>

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<div>
    <h4>Color Scheme</h4>
    <hr />
    <dl class="row">

        @*<dt class="col-sm-2">
            @Html.DisplayFor(model => model.Name)
        </dt>*@
        @foreach (var item in Model)
        {
            <dt class="col-sm-2">
                @Html.DisplayFor(model => item.ColorSearched)
            </dt>
        }
        </dl>
</div>