@model ColorScheme.Models.UserM

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<div>
    <h4>Color Scheme</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.colorSchemes)
        </dt>
    </dl>
</div>