@model ColorScheme.Models.UserM

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}
<br />
<h5>Edit Username</h5>
<hr />
<div class="col-md-4 col-xs-12"> </div>
<div class="col-md-4 col-xs-12">
    
        <div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="Index">Back to Users</a>
            </div>
        </div>
    
</div>

<div class="col-md-4 col-xs-12"> </div>
