@model IEnumerable<ColorScheme.Models.UserM>


@{
    ViewData["Title"] = "My Colors";
    Layout = "_Layout3";

}
<body>
    <p>
        <a asp-action="Create">Create New User</a>
    </p>
</body>

<br />
<div class="col-md-3 col-xs-12"></div>
<div class="col-md-6 col-xs-12">
    <table class="table table-dark table-striped table-bordered">
        
        <tbody >
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">My Saved Colors</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-md-3 col-xs-12"></div>
