@model ColorScheme.Models.ColorSchemeM

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>Color Scheme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ColorSchemes" class="control-label"></label>
                <input asp-for="ColorSchemes" class="form-control" />
                <span asp-validation-for="ColorSchemes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchemeType" class="control-label"></label>
                <select asp-for="SchemeType" class="form-control" asp-items="@Html.GetEnumSelectList<ColorScheme.Models.SchemeType>()"></select>
                <span asp-validation-for="SchemeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
